header {
    text-align: center;
    background-color: #d68233;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Mitr";
    margin-top: 3rem;
    font-size: 0.7rem;

    & .navbar {
        min-height: 5vh;
        @include flex(row, space-around, center, 5 5rem);
        align-items: center;
        padding: 5 5rem;
    }

    & .menu {
        flex-basis: 65%;
        @include flex(row, flex-end, center, 5 5rem);
    }

    & .menu__link {
        font-size: 1.8em;
        padding: 1rem;

        &--active {
            @extend .menu__link;
            border-bottom: 3px solid white;
        }
    }

}

.logo {
    padding-top: 0.5rem;
    height: 50px;
    width: 50px;
    transform: scale(250%);
    padding-left: 6rem;
    transition: transform 30ms ease-in-out;
}

.hamburg {
    display: none;
}

.menuHamburg {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        text-align: center;
        align-items: center;
        padding: 0%;
    }

    &.navbar {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        transform: scale(200%);
        padding-right: 6rem;
        padding-top: 1.5rem;
    }

    .menu {
        flex-basis: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
    }

    @include flex(row, space-between, center, 5 5rem);
}

@media screen and (max-width: 625px) {



    header {
        text-align: center;
        align-items: center;
        font-size: 0.60em;
        margin: 0;
        flex-direction: column;
        max-width: 100%;
        padding: 0%;

        &ul.menu {
            margin-left: 0;
        }


    }

    .logo {
        padding-top: 1.5rem;
    }

}

@media screen and (max-width: 855px) {
    .logo {
        display: flex;
        padding-bottom: 1.5rem;

    }

    .menuHamburg {
        display: flex;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        padding: 2rem;

    }

    ul.menu {
        display: none;
    }

    input.hamburg:checked~ul.menu {
        display: block;
    }

    //   input.hamburg {
    //     display: none;
    //   }

    label.menuHamburg {
        box-sizing: border-box;
        flex-direction: row;
        border-radius: 5px;
        font-size: 40px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        user-select: none;
        display: block;
    }


    input.menuHamburg:checked~label {
        display: block;
    }

    li.menu__item.a {
        margin-top: 0;
        padding: 0;
        width: 300px;
        flex-direction: column;
        display: block;
        text-align: center;
    }


    li.menu__item {
        display: block;
        margin: 0;
        flex-direction: column;
        font-size: 10px;
        padding: 10px;
        list-style: none;
    }

    li.menu__item:hover {
        filter: brightness(500%);
    }
}