form{
    padding: 5rem;
    margin: 10%;
    justify-content: center;
    max-width: 1080px;
    font-size: 2rem;
}

@media screen and (max-width: 768px){
    form{
        justify-content: center;
        font-size: 1em;
        margin: 5%;

    }
}