.articuloPpal{
    // align-items: center;
    @include flex(row, space-between, center, 5rem, nowrap); 
    font-size: 2em;
    width: 100%;
    padding: 5rem;
    text-align:center ;
    box-sizing: border-box;
    justify-content: space-between;
}

picture{
    width: 100%;
    padding: 0.5rem;
}

@media screen and (max-width: 768px){
    .articuloPpal{
        flex-wrap: wrap;
    }
}