.quienesSomos{
    font-size: 1.5em;
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "parrafo parrafo parrafo"
    "pxlsirius pxlfadu pxlnotebook"
}
.parrafo{
    grid-area: parrafo;
    padding: map-get($paddings, large);
}
.pxlfadu{
    grid-area: pxlfadu;
}
.pxlsirius{
    grid-area: pxlsirius;
}
.pxlnotebook{
    grid-area: pxlnotebook;
}


@media screen and (max-width: 768px){
    .quienesSomos{
        flex-direction: column  ;
        box-sizing: content-box;
        font-size: 1.1em;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas:
        "parrafo"
        "pxlsirius"
        "pxlnotebook"
        "pxlfadu"
    }
}
