/*Helpers*/

.flex-row{
    display: flex;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap: 0, $wrap: wrap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}